:rfc822 formatter only adheres to RFC822 in English locales

Steps to reproduce:

```clojure
user=> (java.util.Locale/setDefault java.util.Locale/GERMAN)
nil
user=> (require '[clj-time core format])
nil
user=> (clj-time.format/unparse (clj-time.format/formatters :rfc822) (clj-time.core/date-time 2015 10 1))
"Do, 01 Okt 2015 00:00:00 +0000"
```

This does not adhere to the format described in [RFC822, section 5](http://www.w3.org/Protocols/rfc822/#z28).

To fix this, I suggest changing the definition of the `:rfc822` formatter to:

```clojure
(with-locale (formatter "EEE, dd MMM yyyy HH:mm:ss Z") java.util.Locale/US)
```

If this sounds okay, I can submit a PR.

@weavejester please do!

I'm running into this issue as well. My locale is set to Japanese by default, and I'm getting an invalid RFC 822 date format because of it.

@weavejester are you submitting a PR for this issue? If you're busy with other things, I don't mind submitting one instead. Your suggested fix looks fine to me. In addition to that, it looks like the test [here](https://github.com/clj-time/clj-time/blob/d83dc787b65229c8ac4566372cc2322c53be4195/test/clj_time/format_test.clj#L103-L105) needs to be fixed.


Having finally bludgeoned midje-readme into submission (it's not compatible with the latest Leiningen it seems?), I've been able to run the tests and changing that formatter per @weavejester does not cause that test to fail (since it changes the locale of the formatter to Italian and that's what it tests).

I'm going to add a test to verify it really does override the default locale and then push a change for this.

I'll need to check with @michaelklishin what we want to do about the readme testing...